*.suo
Example/Naked.ExampleProject.Tests/obj/
Example/Naked.ExampleProject/Client/build/
Example/Naked.ExampleProject/bin/
Example/_TeamCity.Naked/
Example/node_modules/
NugetPackages/
Example/Naked.ExampleProject.Tests/bin/
Example/packages/
Example/Naked.ExampleProject/obj/
packages/
Example/Naked.ExampleProject/.mimosa/
Example/BuildConfiguration.html

Example/Naked.ExampleProject.Tests/bin/
Example/Naked.ExampleProject.Tests/obj/
Example/Naked.ExampleProject/bin/
Example/Naked.ExampleProject/Client/build/
Example/Naked.ExampleProject/.mimosa
Example/Naked.ExampleProject/obj/
